@*
    WalkTrack - A simple walk tracker that lets people define their own milestones

    Copyright (C) 2022  Nathan Mentley
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.
    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
*@

@page "/about"

@inject NavigationManager NavigationManager
@inject ILocalStorageService LocalStorageService
@inject AppAuthenticator AppAuthenticator

<PageTitle>About</PageTitle>

<h1>About</h1>

<p>WalkTrack is open source, and released under the <a href="https://www.gnu.org/licenses/agpl-3.0.en.html">GNU Affero General Public License</a>.</p>

<p>More information can be found on <a href="https://github.com/nathanmentley/WalkTrack">github</a>.</p>

@code {
    protected override async Task OnInitializedAsync()
    {
        if (!await AppAuthenticator.IsLoggedIn(LocalStorageService))
        {
            NavigationManager.NavigateTo("/account/login");
        }
    }
}