@*
    WalkTrack - A simple walk tracker that lets people define their own milestones

    Copyright (C) 2022  Nathan Mentley
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.
    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
*@

@page "/account"

@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@inject ILocalStorageService LocalStorageService
@inject IUserClient UserClient
@inject AppAuthenticator AppAuthenticator

<PageTitle>Account</PageTitle>

<h1>Account</h1>

<div>
    <button class="btn btn-primary" @onclick="Logout">Logout</button>
</div>

<div>
    <button class="btn btn-primary" @onclick="Delete">Delete Account</button>
</div>

<div class="card">
    <h4 class="card-header">ChangePassword</h4>
    <div class="card-body">
        <EditForm Model="@model" OnValidSubmit="ChangePassword">
            <DataAnnotationsValidator />

            <div class="container">
                <div class="row">
                    <div class="form-group">
                        <label>Password</label>
                        <InputText @bind-Value="model.Password" type="password" class="form-control" />
                        <ValidationMessage For="@(() => model.Password)" />
                    </div>
                </div>
                <div class="row p-3">
                    <button disabled="@model.Loading" class="btn btn-primary">
                        @if (model.Loading) 
                        {
                            <span class="spinner-border spinner-border-sm mr-1"></span>
                        }
                        Change Password
                    </button>
                </div>
            </div>
        </EditForm>
    </div>
</div>

@code {
    private AccountModel model = new AccountModel();

    protected override async Task OnInitializedAsync()
    {
        if (!await AppAuthenticator.IsLoggedIn(LocalStorageService))
        {
            NavigationManager.NavigateTo("/account/login");
        }
    }

    private async Task Logout()
    {
        await AppAuthenticator.Logout(LocalStorageService);

        NavigationManager.NavigateTo("/account/login");
    }

    private Task Delete()
    {
        throw new NotImplementedException();
    }

    private async Task ChangePassword()
    {
        await UserClient.UpdatePassword(model.ToUpdatePasswordRequest());
    }
}
